<!DOCTYPE html>
<head>
    <title>Star Wars Data</title>
    <link rel="stylesheet" type="text/css" href="css/header.css">
</head>
<body>
    <header>
        <div class="navbar">
            <h1 class="header1">Star Wars Data</h2>
        </div>
    </header>
