<%- include('header') -%>

<h3>Get Data for { <i>planets, people and starships </i> } </h3>

<div class="container">
    <form action="/getdata" method="POST">
        <input type="text" placeholder="" name="data" />
        <button type="submit">Submit</button>
    </form>
</div>
